* {
    outline: 1px dotted red;
}
h1 {
    color: white;
    margin: auto;
}

.container {
    width: 800px;
    height: 2160px;
    overflow: auto;
}

.header {
    height: 20%;
    max-width: 100%;
    background-color: #38326D; 
}
.header-top {
    height: 25%;
    width:100%;
    padding-left: 10px;
    padding-top: 10px;
}
.green-strip {
    height: 55%;
    background-color: #A7D395;
    color: #D9DC9B;
}
.purp-sqr {
    height: 125px;
    width: 125px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    background-color: #38326D;
    color: #D9DC9B;
}

.header-foot {
    height: 20%;
}

.lil-button {
    display: inline-block;
    margin: 50px;
    /* padding: 15px 20px 0px 20px */
}

.main {
    height: 55%;
    max-width: 100%;
}

.purp-rect {
    height: 150px;
    width: 250px;
    display: inline-block;
    margin: 50px 25px 25px 85px;
    background-color: #38326D;
    color: #D9DC9B;
}

.main-grn-separator {
    height: 140px;
    width: 90%;
    margin-left: 45px;
    background-color: #A7D395;
    color: white;
}
.nav-left {
    width: 33%;
    height: 425px;
    background-color: #A7D395;
    margin: 25px 25px 25px 10px;
    vertical-align: top;
    display: inline-block;
}

a {
    color: #0E7E12;
    margin: 35px 0px 0px 60px; 
    display: inline-block;
}

.link-info {
    width: 60%;
    height: 425px;
    display: inline-block;
}
.purp-content {
    width: 100%;
    height: 50px;
    margin: 25px 0px 0px 0px;
    background-color: #38326D;
}

.footer {
    height: 25%;
    width: 100%;
    background-color: #38326D;
}
.footer a {
    margin: 30px 0px 20px 38px;
}

.grn-top-footer {
    height: 15%;
    width: 100%;
    background-color: #A7D395;
}

.grn-footer-content {
    width: 80%;
    height: 35%;
}





